#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.input {
  height: 40px;
  border-radius: 15px;
  border: 1px solid #646cffaa;
  width: 100%;
  margin-top: 10px;
}

.button {
  background: #646cffaa;
  color: #ffff;
  text-transform: uppercase;
  width: 100%;
  margin: 20px 0;
}

.list {
  display: flex;
  gap: 10px;
}